.wrap_header{
height: 100px;
box-shadow: 0 0 5px #ccc, 0 0 8px #fff;
font-family: 'Courgette', cursive;
color:#fff;
text-shadow: 0 0 6px #fff, 0 0 9px #000;
background: rgb(91,91,97);
background: linear-gradient(214deg, rgba(91,91,97,1) 35%, rgba(167,163,163,1) 50%, rgba(91,91,97,1) 75%); 
}



